{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row justify-content-between">
                <span>Здавствуйте, {{ user.username }}!</span>
                <div>
                    <a href="{% url 'logout' %}"><button class="btn btn-success">Выйти</button></a>
                    <a href="{% url 'password_change' %}"><button class="btn btn-success">Изменить пароль</button></a>
                </div>
            </div>
        </div>
            <table class="table my-4">
                <thead class="thead-light">
                  <tr>
                      <th scope="col">Компания</th>
                      <th scope="col">Сайт</th>
                      <th scope="col">Проверка</th>
                  </tr>
                </thead>
            {% for the_site in sites %}
                <tr scope="row">
                    <td><a href="{% url 'site_view' the_site.id %}">{{ the_site.title }}</a></td>
                    <td>{{ the_site.site_url }}</td>
                    <td>{{ the_site.is_active }}</td>
                </tr>
            {% empty %}
                <p>Нет ни одного сайта для проверки</p>
            {% endfor %}
            </table>
        <a href="{% url 'site_new' %}"><button class="btn btn-primary">Внести новый сайт на проверку</button></a>
    {% else %}
        <p>Вы не авторизованы.</p>
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
{% endblock %}
